## Assignment 10

In [3]:
import pandas as pd

In [10]:
data = pd.read_csv('annual-tree-data-file-2014-1.csv')
data

,Location,Ward,Address,Height,Diameter,Age Class,Species,Unnamed: 7,Unnamed: 8
0,Outside 0 (Sunny Gardens Parade),Hendon (A) \n,Sunny Gardens Parade ...,17.5m,80cm,Mature,Catalpa bignonioides \n,NaN,NaN
1,Outside (The Burroughs Library),Hendon (A) \n,The Burroughs Library ...,3.0m,8cm,,Vacant Treepit \n,NaN,NaN
2,Outside (The Burroughs Library),Hendon (A) \n,The Burroughs Library ...,3.0m,8cm,,Void Treepit \n,NaN,NaN
3,Outside (The Burroughs Library),Hendon (A) \n,The Burroughs Library ...,3.0m,20cm,Semi-Mature,Cryptomeria japonica \n,NaN,NaN
4,Outside (The Burroughs Library),Hendon (A) \n,The Burroughs Library ...,3.0m,12cm,Early,Fraxinus excelsior Pendula \n,NaN,NaN
...,...,...,...,...,...,...,...,...,...
42221,Outside 37-40 (Edgeworth Close),West Hendon (A) \n,...,3.0m,11cm,Early Mature,Fraxinus excelsior \n,NaN,NaN
42222,Outside 37-40 (Edgeworth Close),West Hendon (A) \n,...,3.0m,7cm,Young,Acer psuedoplatanus \n,NaN,NaN
42223,Outside 37-40 (Edgeworth Close),West Hendon (A) \n,...,3.0m,26cm,Early Mature,Fraxinus excelsior \n,NaN,NaN
42224,Outside 25-28 (Edgeworth Close),West Hendon (A) \n,...,3.0m,26cm,Semi-Mature,Prunus sp. \n,NaN,NaN
42225,NaN,\n,...,0.0m,0cm,,\n,NaN,NaN

In [11]:
# Slice the result for first 20 rows
print (data[0:20]['Ward'])

0     Hendon (A)                              \n
1     Hendon (A)                              \n
2     Hendon (A)                              \n
3     Hendon (A)                              \n
4     Hendon (A)                              \n
5     Hendon (A)                              \n
6     Burnt Oak (A)                           \n
7     Burnt Oak (A)                           \n
8     Burnt Oak (A)                           \n
9     Burnt Oak (A)                           \n
10    Burnt Oak (A)                           \n
11    Burnt Oak (A)                           \n
12    Burnt Oak (A)                           \n
13    Burnt Oak (A)                           \n
14    Burnt Oak (A)                           \n
15    Burnt Oak (A)                           \n
16    Burnt Oak (A)                           \n
17    Burnt Oak (A)                           \n
18    Burnt Oak (A)                           \n
19    Burnt Oak (A)                           \n
Name: Ward, dtype: object

In [6]:
# Slice the result for last 20 rows
print (data[42205:42225]['Ward'])

42205    West Hendon (A)                         \n
42206    West Hendon (A)                         \n
42207    West Hendon (A)                         \n
42208    West Hendon (A)                         \n
42209    West Hendon (A)                         \n
42210    West Hendon (A)                         \n
42211    West Hendon (A)                         \n
42212    West Hendon (A)                         \n
42213    West Hendon (A)                         \n
42214    West Hendon (A)                         \n
42215    West Hendon (A)                         \n
42216    West Hendon (A)                         \n
42217    West Hendon (A)                         \n
42218    West Hendon (A)                         \n
42219    West Hendon (A)                         \n
42220    West Hendon (A)                         \n
42221    West Hendon (A)                         \n
42222    West Hendon (A)                         \n
42223    West Hendon (A)                         \n
42224    West Hendon (A)                         \n
Name: Ward, dtype: object

In [7]:
# Use the multi-axes indexing funtion
print (data.loc[:,['Location','Age Class']])

                               Location        Age Class
0      Outside 0 (Sunny Gardens Parade)  Mature
1       Outside (The Burroughs Library)
2       Outside (The Burroughs Library)
3       Outside (The Burroughs Library)  Semi-Mature
4       Outside (The Burroughs Library)  Early
...                                 ...              ...
42221   Outside 37-40 (Edgeworth Close)  Early Mature
42222   Outside 37-40 (Edgeworth Close)  Young
42223   Outside 37-40 (Edgeworth Close)  Early Mature
42224   Outside 25-28 (Edgeworth Close)  Semi-Mature
42225                               NaN

[42226 rows x 2 columns]

In [8]:
# Use the multi-axes indexing funtion
print (data.loc[[1,9,21],['Location','Age Class']])

                           Location        Age Class
1   Outside (The Burroughs Library)
9       in park railings by plot 37  Early Mature
21         rear of sheds by plot 14  Early

In [9]:
# Use the multi-axes indexing funtion
print (data.loc[10:25,['Ward','Height']])

                                          Ward Height
10  Burnt Oak (A)                           \n   5.0m
11  Burnt Oak (A)                           \n   4.0m
12  Burnt Oak (A)                           \n   5.0m
13  Burnt Oak (A)                           \n   4.0m
14  Burnt Oak (A)                           \n   3.0m
15  Burnt Oak (A)                           \n   3.0m
16  Burnt Oak (A)                           \n   3.0m
17  Burnt Oak (A)                           \n   4.0m
18  Burnt Oak (A)                           \n   3.0m
19  Burnt Oak (A)                           \n   3.5m
20  Burnt Oak (A)                           \n  11.0m
21  Burnt Oak (A)                           \n   3.0m
22  Burnt Oak (A)                           \n   3.0m
23  Burnt Oak (A)                           \n   3.0m
24  Burnt Oak (A)                           \n   3.0m
25  Burnt Oak (A)                           \n   3.0m